<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>方舟小铺管理系统</title>
    <script src="./js/vue.js"></script>
    <script src="./js/axios.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
<div id="app">
    <!--外层容器-->
    <el-container style="height: 600px; border: 1px solid #eee">
        <!--顶栏容器-->
        <el-header>
            <img src="./img/avatar.jpg" style="height: 70px; width: 80px">
            <span style="margin-left: 15px">方舟小铺管理系统</span>
        </el-header>
        <el-container>
            <!--侧边栏容器-->
            <el-aside width="150">
                <el-menu :default-openeds="['1']" background-color="#545c64"
                         text-color="#fff" active-text-color="#409EFF">
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-message"></i>信息管理</template>
                        <el-menu-item index="1-1">
                            <i class="el-icon-menu"></i>店铺管理
                        </el-menu-item>
                        <el-link href="./good_manage.html">
                            <el-menu-item index="1-2">
                                <i class="el-icon-menu"></i>商品管理
                            </el-menu-item>
                        </el-link>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-container>
                <!--主要区域容器-->
                <el-main>
                    <!--面包屑导航-->
                    <el-breadcrumb separator-class="el-icon-arrow-right">
                        <el-breadcrumb-item>首页</el-breadcrumb-item>
                        <el-breadcrumb-item>店铺管理</el-breadcrumb-item>
                    </el-breadcrumb>

                    <!--卡片视图-->
                    <el-card class="box-card">
                        <!--查询表单与添加按钮-->
                        <el-form :inline="true" :model="searchForm" class="demo-form-inline">
                            <el-form-item label="店铺名">
                                <el-input v-model="searchForm.sname" placeholder="店铺名"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="queryByCondition">查询</el-button>
                            </el-form-item>

                            <!--店铺添加-->
                            <el-form-item>
                                <el-button type="success" @click="addDialogVisible=true">添加店铺</el-button>
                            </el-form-item>
                        </el-form>

                        <!--  商铺信息表格  -->
                        <el-table :data="tableData" border>
                            <el-table-column type="index"></el-table-column>
<!--                            <el-table-column prop="sid" label="序号" width="100"></el-table-column>-->
                            <el-table-column prop="sname" label="店铺名" width="300"></el-table-column>
                            <el-table-column prop="introduce" label="店铺简介"></el-table-column>

                            <el-table-column label="操作">
                                <template slot-scope="scope">
                                    <el-button
                                            size="mini"
                                            type="primary"
                                            @click="showEditDialog(scope.row.sid)">编辑
                                    </el-button>
                                    <el-button
                                            size="mini"
                                            type="danger"
                                            @click="deleteShop(scope.row.sid)">删除
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-card>

                    <!--添加店铺对话框-->
                    <el-dialog title="店铺添加" width="50%"
                               :visible.sync="addDialogVisible" @close="addDialogClosed">
                        <!--添加店铺表单-->
                        <el-form :model="addForm" :rules="addFormRules" ref="addFormRef" label-width="70px">
                            <el-form-item label="店铺名" prop="sname">
                                <el-input v-model="addForm.sname"></el-input>
                            </el-form-item>
                            <el-form-item label="店铺简介" prop="introduce">
                                <el-input v-model="addForm.introduce"></el-input>
                            </el-form-item>
                        </el-form>
                        <!--底部按钮区-->
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="addDialogVisible = false">取 消</el-button>
                            <el-button type="primary" @click="addShop">确 定</el-button>
                        </span>
                    </el-dialog>

                    <!--修改店铺对话框-->
                    <el-dialog title="店铺修改"width="50%"
                               :visible.sync="editDialogVisible" @close="editDialogClosed">
                        <!--修改店铺表单-->
                        <el-form :model="editForm" :rules="editFormRules" ref="editFormRef" label-width="70px">
                            <el-form-item label="店铺名" prop="sname">
                                <el-input v-model="editForm.sname"></el-input>
                            </el-form-item>
                            <el-form-item label="店铺简介" prop="introduce">
                                <el-input v-model="editForm.introduce"></el-input>
                            </el-form-item>
                        </el-form>
                        <!--底部按钮区-->
                        <span slot="footer" class="dialog-footer">
                            <el-button @click="editDialogVisible = false">取 消</el-button>
                            <el-button type="primary" @click="editShop">确 定</el-button>
                        </span>
                    </el-dialog>
                </el-main>
                <!--底栏容器-->
                <el-footer style="text-align: center; background-color: rgb(238, 241, 246)">
                    <span style="height: 30px">总店长：王方舟  联系电话：13358114983</span>
                </el-footer>
            </el-container>
        </el-container>
    </el-container>
</div>
</body>

<script lang="js">
    new Vue({
        el: '#app',
        data() {
            return {
                // 店铺信息表格绑定对象
                tableData: [],
                // 查询表单绑定对象
                searchForm: {
                    sname: ""
                },
                // 控制添加店铺对话框显示与隐藏变量
                addDialogVisible: false,
                // 添加表单绑定对象
                addForm: {
                    sname: '',
                    introduce: ''
                },
                // 添加表单验证规则对象
                addFormRules: {
                    sname: [
                        { required: true, message: '请输入店铺名', trigger: 'blur'},
                        { min: 1, max: 15, message: '店铺名的长度应在1~15个字符之间', trigger: 'blur'}
                    ],
                    introduce: [
                        { max: 20, message: '店铺简介的长度不能超过20个字符', trigger: 'blur'}
                    ]
                },
                // 控制修改店铺对话框显示与隐藏变量
                editDialogVisible: false,
                // 查询到的店铺信息对象
                editForm: {},
                // 修改表单验证规则对象
                addFormRules: {
                    sname: [
                        { required: true, message: '请输入店铺名', trigger: 'blur'},
                        { min: 1, max: 15, message: '店铺名的长度应在1~15个字符之间', trigger: 'blur'}
                    ],
                    intruduce: [
                        { max: 20, message: '店铺简介的长度不能超过20个字符', trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            // 店铺查询（按店铺名模糊查询）
            queryByCondition() {
                axios.get("http://localhost:8080/shops", {params: this.searchForm}).then((result) => {
                    if (!result.data.code) return this.$message.error("查询失败！")
                    this.tableData = result.data.data;
                    console.log(this.tableData);
                })
            },
            // 删除店铺
            deleteShop(id) {
                this.$confirm('此操作将永久删除该店铺, 是否继续?', '删除提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.delete("http://localhost:8080/shops/" + id).then((result) => {
                        if (!result.data.code) return this.$message.error("删除失败！")
                        this.$message.success("删除成功！")
                        this.queryByCondition()
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                })
            },
            // 监听添加店铺对话框的关闭
            addDialogClosed() {
                this.$refs.addFormRef.resetFields()
            },
            // 添加店铺
            addShop() {
                this.$refs.addFormRef.validate(valid => {
                    if (!valid) return
                    axios.post("http://localhost:8080/shops", this.addForm).then((result) => {
                        if (!result.data.code) return this.$message.error("添加店铺失败！")
                        this.$message.success("添加店铺成功！")
                        this.addDialogVisible = false
                        this.queryByCondition()
                    })
                })
            },
            // 展示编辑店铺对话框
            showEditDialog(id) {
                axios.get("http://localhost:8080/shops/" + id).then((result) => {
                    if (!result.data.code) return this.$message.error("查询失败！")
                    this.editForm = result.data.data
                    this.editDialogVisible = true
                })
            },
            // 监听编辑店铺对话框的关闭
            editDialogClosed() {
                this.$refs.editFormRef.resetFields()
            },
            // 编辑店铺
            editShop() {
                this.$refs.editFormRef.validate(valid => {
                    if (!valid) return
                    axios.put("http://localhost:8080/shops", this.editForm).then((result) => {
                        if (!result.data.code) return this.$message.error("更新店铺信息失败！")
                        this.$message.success("更新店铺信息成功！")
                        this.editDialogVisible = false
                        this.queryByCondition()
                    })
                })
            }
        },
        mounted() {
            this.queryByCondition()
        }
    })
</script>

<style>
    .el-header {
        background-color: #373d40;
        display: flex;
        justify-content: left;
        padding-left: 0px;
        align-items: center;
        color: #fff;
        font-size: 35px;
    }

    .el-aside {
        border: 1px solid #eee;
        background-color: #545c64;

    }

    .el-main {
        background-color: #eeeaea;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    .el-breadcrumb {
        font-size: 12px;
    }

    .el-card {
        margin-top: 15px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    }

</style>

</html>
